<h2 class="lead">Technical Skills</h2>
<p class="sublead">
  &ldquo;Life without knowledge is death in disguise.&rdquo;<br />- Talib Kweli
</p>
<div style="justify-content: center;">
<hr style="border-top:1px solid #f44336"/>

<div class="subtitle">I can say i'm good at</div>

<div class="row" style="justify-content: center;">
  <div class="col-lg-4 col-sm-6 skillMeter"> <div ><circle-progress [percent]="60"></circle-progress></div><div class="skill">HTML,CSS<br>Bootstrap</div></div>
  <div class="col-lg-4 col-sm-6 skillMeter"> <div ><circle-progress [percent]="80"></circle-progress></div><div class="skill">Angular</div></div>
  <div class="col-lg-4 col-sm-6 skillMeter"> <div ><circle-progress [percent]="70"></circle-progress></div><div class="skill">Javascript<br>Typescript</div></div>
</div>
<div class="row" style="justify-content: center;">
  <div class="col-lg-4 col-sm-6 skillMeter"> <div ><circle-progress [percent]="70"></circle-progress></div><div class="skill">NodeJs<br>ExpressJs</div></div>
  <div class="col-lg-4 col-sm-6 skillMeter"> <div ><circle-progress [percent]="60"></circle-progress></div><div class="skill">MongoDB</div></div>
  <div class="col-lg-4 col-sm-6 skillMeter"> <div ><circle-progress [percent]="60"></circle-progress></div><div class="skill">Python</div></div>
</div>
