.lead{
  font-size: 64px;
  color: #22A39F;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sublead{
  text-align: center;
  color: #727878;
  font-weight: 500;
  font-size: 24px;
}
.circleBox{
  margin-right: 150px;
}
.skill{
  font-size: 32px;
  font-weight: 400;
  color: #535C68;
  font-family: ui-rounded
}
.skillMeter{
  text-align: center;
}
.subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #2B3436;
}
