
  <div *ngIf="desktopView" >
	  <ul style="justify-content: center;
    margin-right: 38px;">
		<li>
		  <a href="https://www.facebook.com/chaitu.karanam4444" target="_blank">
			<span></span>
			<span></span>
			<span></span>
      <span></span>
      <span class="fab fa-facebook-f"></span>
		  </a>
		</li>
		<li>
		  <a href="https://www.instagram.com/chaiitukaranam" target="_blank">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span class="fab fa-instagram "></span>
		  </a>
		</li>
		<li>
		  <a target="_blank" href="https://www.linkedin.com/in/karanamchaitanya-pramod-88631a1ab">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span class="fab fa-linkedin-in"></span>
		  </a>
		</li>
    </ul>
  </div>
  <div *ngIf="tabView">
    <div class=" container contactDetails col-lg-5">
     <span style="font-size: 34px;margin-right: 10px;"> <a href="https://www.linkedin.com/in/karanamchaitanya-pramod-88631a1ab" target="_blank" style="    margin-top: 16px;
      margin-bottom: 16px;" ><i  class="linkedin fab fa-linkedin-in" ></i></a></span>
      <span style="font-size: 34px;margin-right: 10px;"><a  href="https://www.instagram.com/chaiitukaranam" target="_blank" ><i class="fab fa-instagram fa-instagram"></i></a> </span>
      <span style="font-size: 34px;margin-right: 10px;color: #4285f4"> <a href="https://www.facebook.com/chaitu.karanam4444" target="_blank"><i class="fab fa-facebook-f"></i></a></span>

  </div>
</div>
<div class="name">
  <p>&copy;Karanam Chaitanya Pramod 2020</p>
</div>
