<h2 class="lead">Contact me</h2>
<p class="sublead">
	&ldquo;It doesn't matter what we want.Once we get it,then we want something else.&rdquo;<br />- Game of thrones
</p>

<hr style="border-top:1px solid #f44336"/>
<div class="subtitle">Please feel free to drop a message if you'd like to chat</div>
<!-- Good advice is always certain to be ignored, but that's no reason not to give it. -->
<div class="row" style="margin-bottom: 24px;">
  <div class="thankyoumsg" *ngIf="detailsSent">
    <h1 class="thankyou">Thanks for writing {{contactForm.controls.name.value}}!!</h1>
  </div>
  <div *ngIf="!detailsSent" class="container col-lg-7">
          <h4 class="shoot" >Shoot a message!</h4>
          <form [formGroup]="contactForm">
      <div class="input-container">
        <h1></h1>
            <div class=" row styled-input wide">
              <input maxlength="24" (focus)="changeNameLabel()" (focusout)="changeNameLabel()" formControlName="name" type="text"  />
              <label   [class.validInput]="validName" >Name</label>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="styled-input">
                <input  (focus)="changeEmailLabel()" (focusout)="changeEmailLabel()" formControlName="emailId"   />
                <label [class.validInput]="validEmail"  >Email</label>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="styled-input" style="float:right;">
                <input  maxlength="10" (focus)="changeContactLabel()" (focusout)="changeContactLabel()" formControlName="contactNo" />
                <label [class.validInput]="validContact">Phone Number</label>
              </div>
            </div>
          </div>
              <div class="row styled-input wide">
                <textarea maxlength="300" (focus)="changeMessageLabel()" (focusout)="changeMessageLabel()" formControlName="message" ></textarea>
                <label [class.validInput]="validMessage">Message</label>
              </div>

              <div *ngIf="!noerror">
                <div *ngIf="!contactForm.controls.name.valid" class="text-danger"><i class='fas fa-exclamation' style='font-size:28px'></i><span class="submitError">Please enter your name</span></div>
                <div *ngIf="contactForm.controls.emailId.errors?.required" class="text-danger"><i class='fas fa-exclamation' style='font-size:28px'></i><span class="submitError">Please enter your Email Id</span></div>
                <div *ngIf="contactForm.controls.emailId.errors?.pattern" class="text-danger"><i class='fas fa-exclamation' style='font-size:28px'></i><span class="submitError">Please enter a valid Email Id</span></div>
                <div *ngIf="contactForm.controls.contactNo.errors?.required" class="text-danger"><i class='fas fa-exclamation' style='font-size:28px'></i><span class="submitError">Please enter your Contact Number</span></div>
                <div *ngIf="contactForm.controls.contactNo.errors?.pattern ||
                contactForm.controls.contactNo.errors?.minlength || contactForm.controls.contactNo.errors?.maxlength" class="text-danger"><i class='fas fa-exclamation' style='font-size:28px'></i><span class="submitError">Please enter a valid Contact Number</span></div>
                <div *ngIf="!contactForm.controls.message.valid" class="text-danger"><i class='fas fa-exclamation' style='font-size:28px'></i><span class="submitError">Please enter your message</span></div>
              </div>
            <div class="row" >
              <div style="margin-left: 16px;" class="block"><button [ngClass]="buttonclass" [ngStyle]="buttonColor" (click)="formSubmitted()" class="button ">Send</button></div>
              <button class="btn btn-dark resetButton" (click)="formReset()">Reset</button>
            </div>
      </div>
    </form>
    </div>
</div>
