<h2 class="lead">Experiences</h2>
<p class="sublead">
	&ldquo;The only source of knowledge is experience.&rdquo;<br />- Albert Einstein
</p>
<hr style="border-top:1px solid #f44336"/>
<div class="subtitle">My current association</div>
<div *ngIf="desktopView" class="row">
<div class="circle">
 <div class="exp">
  NOV,2019<br>
  Present
 </div>
</div>
<!-- <div class="vl"></div> -->
<!-- <div class="triangle"></div> -->
<app-experiencebox [view]="dv"  ></app-experiencebox>
</div>
<div *ngIf="tabView">
  <app-experiencebox [view]="tv"  ></app-experiencebox>
</div>


