.lead{
  font-size: 64px;
  color: #22A39F;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sublead{
  text-align: center;
  color: #727878;
  font-weight: 500;
  font-size: 24px;
}
.circle {
  height: 250px;
  width: 250px;
  background-color: #ff675f;
  border-radius: 100%;
  margin-top: 23px;
  display: inline-block;
}
.vl {
  border-left: 3px solid #727878;
  height: 300px;
  margin-left: 55px;
  margin-top: 20px;
}
.exp{
  text-align: center;
  margin-top: 88px;
  font-size: 24px;
  color: #fff;
}
.subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #2B3436;
}
