
<div *ngIf="desktopView" class="wrapper" style="margin-left: -16px;">
  <div class="card" style="width: 800px;height: 250px;margin-left: 54px">
      <input type="checkbox" id="card1" class="more" aria-hidden="true">
      <div class="content">
          <div class="front" style="background-image: url('../../../../assets/pexels-lukas-574069.jpg')">
              <div class="inner">
                  <h2 class="infosys">Infosys Limited</h2>
                  <div class="role">
                      Role:Systems Engineer
                  </div>
                  <label for="card1" class="button" aria-hidden="true">
                      Details
                  </label>
              </div>
          </div>
          <label for="card1" >
          <div class="back">
              <div class="rr inner container" >
                <div class="info" style=" margin-top: -25px;font-weight: 500;
                font-size: 20px">
                  Responsibilities & Job description

                </div>
                <div class="description">
                  <ul style="font-size: 16px;
                  font-weight: 500;">
                    <li>Design, build, or maintain web sites, using Scripting languages.</li>
                    <li>Maintain understanding of current web technologies or programming practices through continuing education, reading, or participation in professional conferences, workshops, or groups.</li>
                    <li> Analyze user needs to determine technical requirements.</li>
                    <li>Write supporting code for web applications or web sites.</li>
                  </ul>
                </div>
              </div>

          </div>
          </label>
      </div>
  </div>
</div>
<div  *ngIf="tabView" class="wrapper">
  <div class="card">
      <input type="checkbox" id="card1" class="more" aria-hidden="true">
      <div class="content">
          <div class="front"style="background-image: url('../../../../assets/pexels-lukas-574069.jpg')">
              <div class="inner">
                  <h2 style="text-align: center;">Infosys Limited</h2>
                  <div class="role">
                    Role:<br>
                     Systems Engineer
                  </div>
                  <div style="    color: #fff;
                  font-size: 24px;
                  font-weight: 500">Nov,2019-Present</div>
                  <label for="card1" class="button" aria-hidden="true">
                      Details
                  </label>
              </div>
          </div>
          <div class="back">
              <div class="inner container">
                  <div class="info" style=" margin-top: -25px;font-weight: 500;
                  font-size: 20px">
                    Responsibilities & Job description

                  </div>
                  <div class="description">
                    <ul style="font-size: 16px;
                    font-weight: 500;">
                      <li>Design, build, or maintain web sites, using Scripting languages.</li>
                      <li>Maintain understanding of current web technologies or programming practices through continuing education, reading, or participation in professional conferences, workshops, or groups.</li>
                      <li> Analyze user needs to determine technical requirements.</li>
                      <li>Write supporting code for web applications or web sites.</li>
                    </ul>
                  </div>
                  <label for="card1" class="button return" aria-hidden="true">
                      <i class="fas fa-arrow-left"></i>
                  </label>
              </div>
          </div>
      </div>
  </div>
</div>
