
.lead{
  font-size: 54px;
  color: #22A39F;
  text-align: center;
  margin-bottom: 20px;
}
.sublead{
  text-align: center;
  color: #727878;
  font-weight: 500;
  font-size: 24px;
}
.aboutdesc{
  font-size: 20px;
  color: #111;
}
.details{
  font-size: 20px;
}
img{
  border-radius: 60%;
}
.more{
  text-align: center;
  margin-top: 54px;
}
.moretxt{
  font-size: 20px;
  font-style: oblique;
}
.morebtn{
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background:#22A39F;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #22A39F;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #2B3436;
}
