
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<h2 class="lead">Profile</h2>
<p class="sublead">
	&ldquo; Man is made by his belief. As he believes, so he is..&rdquo;<br />- Bhagvad Gita
</p>

<hr style="border-top:1px solid #f44336"/>
<div class="subtitle">I'm a Fullstack Developer</div>

<div class="row">
	<div class="col-md-4">
		<h3 style="color:#22A39F ;">About me</h3>
		<p class="aboutdesc">
      Just a guy with really long name <i class="em em-sweat_smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND COLD SWEAT"></i>, you can call me <strong>chaitanya</strong>.
      I'm a full stack web developer with a year of experience in developing webpages.
      I love spending time on fixing little details and optimizing web pages, learning new things.
      Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.
		</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="../../../assets/profilepic-min.jpg" alt="Karanam chaitanya pramod" width="246" height="246" />
	</div>
	<div class=" details col-md-4">
		<h3  style="color:#22A39F">Details</h3>
		<p>
			<strong>Name:</strong><br />
		  Karanam chaitanya pramod<br />
			<strong>Age:</strong><br />
			23 years<br />
			<strong>Location:</strong><br />
      <i class='fas fa-map-marker-alt' style='font-size:20px;color: #22A39F;'></i> Banglore, India<br>
      <strong>Languages:</strong><br />
			English, Telugu, Hindi, Kannada, Tamil.
		</p>
	</div>
</div>
<!-- <div class="more"> <div class="moretxt">Want to know more about me?</div> <br>
  <a href="#" class="cta">
    <span>Click me</span>
  </a>
</div> -->
