<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<h2 class="lead">Education</h2>
<p class="sublead">
	&ldquo;Protons give an atom its identity, electrons its personality.&rdquo;<br />- Bill Bryson
</p>

<hr style="border-top:1px solid #f44336"/>
<!-- //http://themeelite.com/demos/flato/template-1/# -->
<div class="subtitle">What i have done in my academic career</div>


<div >
  <div  [class.jc]="desktopView" class="row">
    <div *ngIf="desktopView" class="circle">
     <div class="exp">
      2015-2019<br>
     </div>
   </div>
   <div class="card"  style="height: 50%;">
    <div *ngIf="desktopView"  class="container">
      <h3 style="margin-top: 3.3vh"><i class="fas fa-user-graduate fa-2x"></i><span style="margin-left: 3.2vw;color: #22A39F;font-size: 3.3vw;
        font-weight: 600;">Bachelor of Engineering </span></h3>
      <p style="    margin-top: 1.8vh;
      font-size: 1.3vw;
      font-weight: 500;
      color: #727878;">Electronics and Communication</p>
            <div class="details">
                <p ><i class="fas fa-university fa-2x"></i><span style="font-size: 2.1vw;
                  font-weight: 400;
               ">SJB institute of technology</span>
            </div>
   </div>
   <div *ngIf="tabView" class="container">
    <h3 style="margin-top: 10px"><i class="fas fa-user-graduate fa-1x"></i><span style="color: #22A39F;font-size: 20px;
      font-weight: 600;">Bachelor of Engineering </span></h3>
    <p style="    margin-top: 1.8vh;
    font-size: 16px;
    font-weight: 500;
    color: #727878;">Electronics and Communication</p>
          <div class="details">
            <div style="color:#ff675f; font-size: 16px;">2015-2019</div>
              <p ><i style="color:#22A39F ;" class="fas fa-university fa-1x"></i><span style="font-size:16px;
                font-weight: 400;
             ">SJB institute of technology</span>
          </div>
 </div>
    </div>
  </div>
  <div   [class.jc]="desktopView" class="row">
    <div  *ngIf="desktopView" class="circle">
     <div class="exp">
      2013-2015<br>
     </div>
    </div>
    <div class="card" style="height: 50%;">
      <div  *ngIf="desktopView" class="container">
        <h3 style="margin-top: 3.3vh"><i class="fas fa_custom fa-book-open fa-2x"></i><span style="margin-left:3.2vw;color: #22A39F;font-size: 3.3vw;
          font-weight: 600;">Pre University Course </span></h3>
        <p style="    margin-top: 12px;
        font-size: 18px;
        font-weight: 500;
        color: #727878;">Maths,Physics & Chemistry</p>
              <div class="details">
                  <p ><i class="fas fa-university fa-2x"></i><span style="font-size: 29px;
                 ">Sri Chaitanya Kalasala</span>

              </div>
     </div>
     <div  *ngIf="tabView" class="container">
      <h3 style="margin-top: 10px"><i class="fas fa_custom fa-book-open fa-1x"></i><span style="color: #22A39F;font-size: 20px;
        font-weight: 600;">Pre University </span></h3>
      <p style="    margin-top: 12px;
      font-size: 16px;
      font-weight: 500;
      color: #727878;">Maths,Physics & Chemistry</p>
            <div class="details">
              <div style="color:#ff675f; font-size: 16px;">2013-2015</div>
                <p ><i class="fas fa-university fa-1x"></i><span style="font-size: 16px;
                  font-weight: 400;
                    font-weight: 400;
               ">Sri Chaitanya Kalasala</span>

            </div>
   </div>
      </div>
  </div>
  <div [class.jc]="desktopView" class="row">
    <div *ngIf="desktopView" class="circle">
     <div class="exp">
      2013<br>
     </div>
    </div>
    <div class="card" style="height: 50%;">
      <div  *ngIf="desktopView" class="container">
        <h3 style="margin-top: 22px"><i class='fa fa-book-reader fa-2x'></i><span style="margin-left: 21px;color: #22A39F;font-size: 44px;
          font-weight: 600;">Secondary School </span></h3>
              <div class="details" style="margin-top: 32px;">
                  <p ><i class="fas fa-school fa-2x"></i><span style="font-size: 29px;
                    font-weight: 400;
                 ">Deepti High School</span>
              </div>
     </div>
     <div  *ngIf="tabView" class="container">
      <h3 style="margin-top: 10px"><i class='fa fa-book-reader fa-1x'></i><span style="color: #22A39F;font-size: 20px;
        font-weight: 600;">Secondary School </span></h3>
            <div class="details" style="margin-top: 12px;">
              <div style="color:#ff675f; font-size: 16px;">2013</div>
                <p ><i class="fas fa-school fa-1x"></i><span style="font-size: 16px;
                  font-weight: 400;
                    font-weight: 400;
               ">Deepti High School</span>
            </div>
   </div>
      </div>
  </div>
</div>







