.lead{
  font-size: 64px;
  color: #22A39F;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sublead{
  text-align: center;
  color: #727878;
  font-weight: 500;
  font-size: 24px;
}
.circle {
  height: 180px;
  width: 180px;
  background-color: #ff675f;
  border-radius: 100%;
  margin-top: 44px;
  display: inline-block;
}
.vl {
  border-left: 3px solid #727878;
  height: 300px;
  margin-left: 55px;
  margin-top: 20px;
}
.exp{
  text-align: center;
  margin-top: 64px;
  font-size: 24px;
  color: #fff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  width: 50vw;
  height:33.4vh;
  margin-top: 23px;
  margin-left: 88px;
  text-align:center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.jc{
  justify-content: center;
}
.subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #2B3436;
}
