
<div class="intro" style="position: unset;">
  <div>
    <div *ngIf="desktopView" class="name"><img  src="../../../assets/gotname.png" alt="Karanam Chaitanya Pramod"></div>
    <h1 *ngIf="tabView" class="name">Karanam Chaitanya Pramod</h1>
    <p class="lead">Interactive resume</p>
    <a target="_blank" href="../../../assets/kira.pdf" class="button btn" style="vertical-align:middle"><span>Download or View Resume</span></a>
  </div>
</div>
<a  *ngIf="desktopView" href="#about" class="scroll-down" address="true"></a>
<!-- <button class="hibutton" mat-raised-button color="accent" (click)="openDialog()">Say hi!! 👋</button> -->


