<div>
	<div>
		<button style="position: fixed;"id="burger" (click)="burgertEvent()" [class.is-open]="navbarOpen" class="open-main-nav">
			<span class="burger"></span>
			<span class="burger-text">Menu</span>
		</button>
		<nav class="main-nav"  [class.is-open]="navbarOpen" id="main-nav">
			<ul style="position: fixed;">
				<li>
					<a (click)="burgertEvent()" href="#home">Home</a>
				</li>
				<li>
					<a (click)="burgertEvent()"href="#about">Aboutme</a>
				</li>
				<li>
					<a (click)="burgertEvent()" href="#experience">Experieces</a>
				</li>
				<li>
					<a (click)="burgertEvent()" href="#education">Education</a>
        </li>
        <li>
					<a (click)="burgertEvent()"  href="#skills">Skills</a>
        </li>
        <li>
					<a (click)="burgertEvent()" href="#contact">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
