<!-- Start Nav Section -->
<div *ngIf="tabView">
  <app-navbar></app-navbar>
</div>

<div *ngIf="desktopView">
<nav id="navbar" class="navbar">
  <ul class="nav-menu">
    <li>
      <a data-scroll="home" href="#home" class="dot" (click)="highlightSection('home')" [class.active]="homeActive" >
        <span>Home</span>
      </a>
    </li>
    <li>
      <a data-scroll="about" href="#about" class="dot" (click)="highlightSection('about')" [class.active]="aboutActive">
        <span>About me</span>
      </a>
    </li>
    <li>
      <a data-scroll="experience" href="#experience" class="dot" (click)="highlightSection('experience')" [class.active]="experienceActive">
        <span>Experiences</span>
      </a>
    </li>
    <li>
      <a data-scroll="education" href="#education" class="dot" (click)="highlightSection('education')" [class.active]="educationActive">
        <span>Education</span>
      </a>
    </li>
    <li>
      <a data-scroll="skills" href="#skills" class="dot" (click)="highlightSection('skills')" [class.active]="skillsActive">
        <span>Skills</span>
      </a>
    </li>
    <li>
      <a data-scroll="contact" href="#contact" class="dot" (click)="highlightSection('contact')" [class.active]="contactActive">
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<!-- End Nav Section -->

<!-- Start Home Section -->
<section id="home"  class="section">
  <div  class="container">
        <app-home [screenwidth]="innerWidth"></app-home>
  </div>
</section>
<!-- End Home Section -->

<!-- Start About Me Section -->
<section id="about"  class="section" >
  <div class="container">
        <app-about></app-about>
  </div>
</section>
<!-- End About Me Section -->

<!-- Start experience Section -->
<section id="experience" class="section">
  <div class="container">
        <app-experience></app-experience>
  </div>
</section>
<!-- End Services Section -->

<!-- Start Education Section -->
<section id="education" class="section">
  <div class="container">
        <app-education></app-education>
  </div>
</section>
<!-- End Education Section -->

<!-- Start Skills Section -->
<section id="skills"  class="section">
  <div class="container">
        <app-skills></app-skills>
  </div>
</section>
<!-- End Contact Section -->

<section id="contact"  class="section">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>

<!-- Start Footer Section -->
<footer>
  <div class="container text-center">
    <!-- <p>&copy;Karanam Chaitanya Pramod 2020</p> -->
    <app-footer ></app-footer>
  </div>
</footer>
<!-- End Footer Section -->



<!-- <router-outlet></router-outlet> -->
